.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
 }
 .marquee h3 {
   color: antiquewhite;
  position: absolute;
  width: auto;
  height: 100%;
  font-size: 1.9rem;
  margin: 0;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  font-family: 'vazir';
  /* Starting position */
  -moz-transform:translateX(-100%);
  -webkit-transform:translateX(-100%);
  transform:translateX(-100%);
  /* Apply animation to this element */
  -moz-animation: marquee 20s linear infinite;
  -webkit-animation: marquee 20s linear infinite;
  animation: marquee 20s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes marquee {
  0%   { -moz-transform: translateX(-100%); }
  100% { -moz-transform: translateX(100%); }
 }
 @-webkit-keyframes marquee {
  0%   { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(100%); }
 }
 @keyframes marquee {
  0%   {
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%);
  }
  100% {
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%);
  }
 }
