

<!-- <div class="flex-container">
  <div class="header"></div>
  <div class="body">
    <div width="15%" ></div>


  </div>

</div> -->


<app-date-time   style="position:absolute;right:0;top:0;height:100%;width:14%;"></app-date-time>

<!-- <div > -->
  <video (ended)="ended()" style="width:86%;height:calc(100% - 60px); background-color: black;display: block;" preload="auto"   #videoPlayer>
    <source   [src]="'./media/'+reqService.mediaSource?.fileName" type="video/mp4" >
  </video>
<!-- </div> -->
<div class="subtitle" style="font-family: 'vazir';">
  <app-marquee class="marquee"></app-marquee>
</div>
